body{
    font-family: Verdana, arial;
    border: none;
    background-image: url(imagenes/dimmed_background.jpg);
    background-position: center;
    background-position-y: 0px;
    background-size: auto;
    background-repeat: no-repeat;
    margin: 0px;
}

header{
    background-color:rgb(44, 44, 44);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 100px;
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: white;
}

nav a{
    font-weight: 600;
    padding-right: 35px;
}

nav a:hover{
    color: rgba(129, 63, 129, 0.616)
}

.songs{
    display: flex;
    justify-content: space-evenly;
    padding-top: 80px;
}

.moon img{
    height: 200px;
    padding-bottom: 10px;
    padding-left: 50px;
}

.wall img{
    height: 200px;
    padding-bottom: 10px;
    padding-left: 50px;
}

.wish img{
    height: 200px;
    padding-bottom: 10px;
    padding-left: 50px;
}